---
---

@import "./css/zenburn.scss";
@import "./css/normalize.scss";

body {
    font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    color: $foreground;
    background-color: $background;
    display: flex;
    flex-direction: column;

    & > section {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 4em;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $heading;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    padding: 3px 3px 3px 0.5em;
    border-left: 0.4em solid $heading;
    border-bottom: 2px solid $heading;
    border-bottom-left-radius: 3px;
}

h3 {
    font-size: 180%;
    margin-top: 1.5em;
    padding-left: 0.5em;
    border-left: 0.5em double $heading;
}

h4 {
    margin: 0;

        font-size: 135%;
        color: $link;
}

a {
    color: $link;
}

.profile {
    position: relative;
    min-height: 240px;

    & > * {
        margin-left: 240px;
    }

    .description {
        font-size: 120%;
    }

    .image {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;

        width: 200px;
        height: 200px;
        border-radius: 4px;
    }

    .sns {
        padding: 0;
        font-size: 20px;

        li {
            display: inline-block;
            margin-left: 0;
            margin-right: 1.2em;
            line-height: 44px;
        }

        a {
            text-decoration: none;
        }

        .icon {
            vertical-align: middle;
            width: 32px;
            height: 32px;
        }

        .hatena .icon {
            border-radius: 16px;
        }
    }
}

.work-experience {
    li {
        font-size: 130%;
        position: relative;
        margin-bottom: 2em;
        min-height: 3em;

        h4 {
            float: left;
        }

        .role {
            display: block;
            color: $info;
            font-size: 70%;
            font-style: italic;
            font-weight: normal;
        }

        .date {
            text-align: right;

            .from {
                text-align: left;
            }

            .from, .to {
                display: inline-block;
                min-width: 6.5em;
            }

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        .note {
            margin-top: 0.3em;
        }
    }
}

.education {
    li {
        font-size: 130%;
        position: relative;
        margin-bottom: 2em;
        min-height: 3em;

        h4 {
            float: left;
        }

        .institute, .department, .field {
            display: block;
        }

        .department, .field {
            font-size: 70%;
            color: $subtitle;
        }

        .degree, .note {
            display: block;
            color: $info;
            font-size: 70%;
            font-style: italic;
            font-weight: normal;
        }

        .date {
            text-align: right;

            .from {
                text-align: left;
            }

            .from, .to {
                display: inline-block;
                min-width: 6.5em;
            }

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        .location {
            margin-top: 0.3em;
        }
    }
}

.bibliography {
    li {
        font-size: 130%;
        position: relative;
        margin-bottom: 2em;
        margin-right: 280px;
        min-height: 133px;

        & > div {
            margin-top: 0.5em;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        h4 a.title:after {
            vertical-align: top;
            font-size: 70%;
            font-family: "Font Awesome 5 Free";
            content: "\f35d";
            margin-left: 0.5em;
        }

        .doi {
            font-size: 77%;
            & a {
                color: $comment;
            }
        }

        .media .title {
            font-style: italic;
        }

        .embed {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -20px;
            margin-right: -280px;
            max-width: 272px;
            max-height: 153px;

            & > * {
                display: none;
            }

            & > iframe {
                display: inline-block;
                width: 100% ! important;
                height: 100% ! important;
                border: none ! important;
                border-radius: 10px;
            }
        }

        .image {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -20px;
            margin-right: -280px;

            & img {
                object-fit: cover;
                width: 272px;
                height: 153px;
                border-radius: 2px;
            }
        }
    }

    &.magazine .image img {
        object-fit: contain;
    }
}

.repositories, .web-services {
    li {
        font-size: 130%;
        position: relative;
        margin-bottom: 2em;

        & > div {
            margin-top: 0.5em;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .role {
        color: $info;
        font-style: italic;
    }

    .meta {
        margin: 0.5em 0 0 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;
            font-size: 100%;

            &.language {
                min-width: 8em;

                .color {
                    display: inline-block;
                    position: relative;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                }
            }

            &.stargazers {
                min-width: 4.5em;

                a {
                    color: $foreground;
                }
            }
        }
    }
}

@media all and (max-width: 1149px) {
    .work-experience, .education {
        li {
            h4 {
                float: none;
            }
        }
    }
}

@media all and (max-width: 899px) {
    .bibliography {
        li {
            margin-right: 0;

            .embed, .image {
                display: none;
            }
        }
    }
}

@media all and (max-width: 649px) {
    .profile {
        .sns {
            li {
                display: block;
            }
        }
    }
}
