{%- assign item = include.item %}
<h4>
  {%- if item.url %}
  <a class="title" href="{{ item.url }}">{{ item.title }}</a>
  <a href="https://b.hatena.ne.jp/entry/{{ item.url | url_encode }}">
    <img src="https://b.hatena.ne.jp/entry/image/{{ item.url }}">
  </a>
  {%- else %}
  <span class="title">{{ item.title }}</span>
  {%- endif %}
</h4>
{%- if item.doi %}
<div class="doi">
  <a href="https://dx.doi.org/{{ item.doi }}">doi:{{ item.doi }}</a>
</div>
{%- endif -%}

{%- if item.author %}
<div class="authors">
  {{ item.author | authors }}
</div>
{%- endif -%}

{%- include bib_media.html item = item -%}

{%- if item.url %}
{%- oembed {{ item.url }} %}
{%- endif -%}

{%- if item.image %}
<div class="image">
  <img src="{{ item.image }}">
</div>
{%- endif %}
