<!DOCTYPE html>
<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <base target="_blank">
  <title>
    {%- if page.title %}
    {{ page.title }} -
    {%- endif %}
    {{ site.title }}
  </title>
  {%- if site.favicon %}
  <link rel="icon" {% if site.favicon.type %}type="{{ site.favicon.type }}" {% endif %} href="{{ site.favicon.url }}">
  {%- endif %}
  <link rel="stylesheet" href="/css/default.css?{{ site.time | date: '%s' }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  {%- if site.author.sns.hatena %}
  <link rel="author" href="http://www.hatena.ne.jp/{{ site.author.sns.hatena }}/">
  {%- endif %}
</head><body><section>
{{ content }}
<footer>
  <div class="updated">
    Updated at {{ site.time | date_to_xmlschema }}
  </div>
</footer>
</section></body></html>
